  <div class="jumbotron" style="text-align: center">
    <img src="https://orig00.deviantart.net/c86d/f/2017/001/7/b/ranking_the_dc_rebirth_comics_of_2016__30___21_by_nukid101-dattwlv.jpg">
    <h1 class="display-4">DC Scraper</h1>
    <p class="lead">This app scrapes articles from the DC Comics site and can be saved to a database.</p>
    <a id="scrapeButton" class="btn btn-primary btn-lg" role="button">Scrape Articles!</a>
    <a id="savedButton" class="btn btn-success btn-lg" role="button">Saved Articles!</a>
    <br>

    <div class="scrapedContent">
      <div id="articles">
        {{#each Article}}
        <div class="card">
          <div class-"card-body">
            <h1 class="card-title">{{Article.headline}}</h1>
            <p>{{Article.summary}}</p>
            <br>
            <input type="text" class="commentText">
            <button class="btn btn-primary commentButton">Comment</button>
          </div>
        </div>
        {{/each}}
      </div>
    </div>
  </div>
  <script src="app.js"></script>